/*----------------------------------------------------
        Стилизация <footer>
----------------------------------------------------*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px; 
}

.footer__content{
    width: 1200px;
    margin: 0 auto; 
}

.map {
    width: 80% ;
    height: 350px;
}