/*----------------------------------------------------
       Стилизация секций <main>
----------------------------------------------------*/
.main__section {
    background-color: rgba(216, 216, 216, 0.795);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main__section__courses {
    background-color: rgba(216, 216, 216, 0.795);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.main__section.dark-theme {
    background-color: #646464;
    color: #fff;
    border: 1px solid #888;
}

.main__section__courses.dark-theme {
    background-color: #646464;
    color: #fff;
    border: 1px solid #888;
}